{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error minus voluptatum sed, dolores voluptatibus nobis obcaecati beatae atque libero nesciunt sunt ut nulla asperiores quae aut, debitis laboriosam. Sequi vel ratione, eaque esse dignissimos expedita atque dolores quis ea totam quod magni, minima veritatis eius non! Atque consectetur repellendus recusandae laborum. Veritatis, assumenda facere aliquid ab eligendi quae consectetur, provident obcaecati accusantium quaerat, debitis consequatur. Possimus odio quaerat dicta velit, quos ab aliquam nesciunt earum autem quae aspernatur voluptatum commodi fugit iure tempora enim voluptates culpa laudantium, minus obcaecati. Sed recusandae impedit pariatur accusamus nulla at dolor atque quam aliquid.</p>

        <div class="text-center">
            <a class="btn btn-secundary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock  %}